.navbar-footer{
  ul {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
    li {
      display: inline;
      margin: 30px;
      a {
        color: $white;
        font-family: $OSRegular;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none !important;
        &:hover {
          color: $orange-dark;
        }
      }
    }
  }
}