#sliding-menu {
  display: none;
  .menu {
    display: block;
    width : 250px;
    > div {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 250px;
      ttransition-timing-function: ease;
      transition-duration: 250ms;
      //transform ease 250ms
      //height: 100%;
      &.left {
        background-color: rgba(255,255,255,.7); /* layer fill content */
        -moz-box-shadow: 0 3px 23px 4px rgba(0,0,0,.43); /* drop shadow */
        -webkit-box-shadow: 0 3px 23px 4px rgba(0,0,0,.43); /* drop shadow */
        box-shadow: 0 3px 23px 4px rgba(0,0,0,.43); /* drop shadow */
        left: -280px;
        top: 44px;
      }
      &.visible {
        &.left {
          left: 0;
          top: 44px;
          //transform: translate3d(250px,0px,0px);
        }
      }
      & > .menu-item {
        float: left;
        width: 100%;
        margin: 0;
        padding: 10px 15px;
        border-bottom: solid 1px #555;
        cursor: pointer;
        color: $orange;
        text-transform: uppercase;
        &:hover {
          color: $orange-dark;
        }
      }
    }
  }
}

