/*-- Short news page--*/

.wpnawfree-plugin {
  .news-inner-wrap-view {
    border-bottom: 1px solid #4f3715;
  }
  .news-col-list {
    .news-thumb {
      width: 30%;
    }
    .news-content {
      margin-left: 4%;
      font-family: $OSRegular;
      .grid-date-post {
        color: #4f3715; /* text color */
      }
      .post-content-text {
        width: 90%;
        .news-title {
          a {
            color: #4f3715; /* text color */
            font-size: 30px;
            font-weight: bold;

          }
        }
        .news-content-excerpt {
          color: #4f3715; /* text color */
          .news-short-content {
            text-align: justify;
          }
          .news-more-link {
            float: right;
            height: 34px;
            width: 34px;
            background-image: url(images/right.png);
            background-color: #ffffff;
            transition: 1s;
            &:hover {
              background-image: url(images/down.png);
              transition: 1s;
            }
          }
        }
      }
    }
  }
}
.news_pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .page-numbers.current {
    background: #ffffff;
    padding: 0 3px;
    border: none;
    color: #4f3715; /* text color */
    font-size: 24px;
    font-weight: bold;
  }

}
.news_pagination a, .news_pagination a {
  color: #4f3715 !important;
  background: #ffffff;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  line-height: normal;
  box-shadow: none;
  text-shadow: none;
  font-size: 14px;
  font-family: $OSRegular;
  text-transform: uppercase;
  border: none;
  text-decoration: none !important;
  transition: 100ms;
  &:hover {
    font-size: 24px;
  }
}
.news_pagination a.next {
  height: 34px;
  width: 34px;
  background-image: url(images/next.png);
}
.news_pagination a.prev {
  height: 34px;
  width: 34px;
  background-image: url(images/prev.png);
}

/*-- Full news page--*/

.content-area {
  margin: 50px 40px 30px 40px;
  .site-main {
    display: inline-block;
    .entry-header {
      text-align: center;
      .entry-title {
        color: #4f3715;
        font-size: 36px;
        font-family: $OSRegular;
        margin-bottom: 20px;
      }
    }
    img {
      width: 40%;
      height: 40%;
      float: left;
    }
    .entry-content {
      width: 60%;
      float: right;
      padding-left: 30px;
    }
    .comment-respond {
      display: inline-block;
      width: 52%;
      float: right;
    }
    nav {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      a {
        color: #4f3715;
        font-size: 20px;
        font-family: $OSRegular;
        text-decoration: none;
      }
    }
  }

}