// Font-family
$OSRegular: "Open Sans Regular";
$OSLight: "Open Sans Light";
$OSSemibold: "Open Sans Semibold";
$OSBolb: "Open Sans Bold";





// Set variables for font faces here

// Letter spacing
$ls-xl: 0.1em;
$ls-lg: 0.06em;
$ls-md: 0.04em;
$ls-sm: 0.02em;
$ls-xs: 0.01em;

// Line height
$lh-lg-x: 2;
$lh-lg: 1.6;
$lh-md: 1.4;
$lh-xs: 1.2;
$lh-sm: 1.1;

// Font size
//14px
$base: 0.875rem;
//16px
$base-l: 1rem;
//18px
$medium: 1.125rem;
//20px
$medium-l: 1.25rem;
//22px
$medium-lg: 1.375rem;
//28px
$title-m: 1.75rem;
//31px
$title: 1.938rem;
//44px
$large-m: 2.75rem;
//48px
$large: 3rem;




//12px = 0.75rem
//13px = 0.8125rem
//14px = 0.875rem
//15px = 0.9375rem
//16px = 1rem (base)
//17px = 1.063rem
//18px = 1.125rem
//19px = 1.188rem
//20px = 1.25rem
//21px = 1.313rem
//22px = 1.375rem
//24px = 1.5rem
//26px = 1.625rem
//27px = 1.688rem
//28px = 1.75rem
//30px = 1.875rem
//31px = 1.938rem
//32px = 2rem
//33px = 2.063rem
//34px = 2.125rem
//36px = 2.25rem
//44px = 2.75rem
//48px = 3rem
//49px = 3.063rem
//60px = 3.75rem
//61px = 3.813rem
