@media all and (max-width: 1200px) {
  header {
    height: 660px;
  }
  .navbar-header{
    ul {
      li {
        margin-right: 16px;
      }
    }
  }

  .implementation-block {
    height: 650px;
  }
  .phone-st {
    padding: 0 74px;
  }
  .phone-mob {
    padding: 0 74px;
  }
  .e-mail {
    padding: 0 246px;
    .mail {
      margin-left: 0;
    }
  }
  footer {
    background-size: cover;
  }
}

@media all and (max-width: 991px) {
  header {
    height: 480px;
    .header-circle {
      width: 450px;
      height: 450px;
      margin-top: 10.5%;
      margin-left: -64px;
      p {
        font-size: 31px;
        padding: 105px 63px 8px;
        margin-left: 36px;
      }
    }
  }
  #header-news {
    max-height: 164px;
    p {
      margin-top: 20px;
    }
  }
  .navbar-header {
    ul {
      margin-left: 0;
      li {
        margin-right: 5px;
        a {
          font-size: 15px;
        }
      }
    }
  }
  #reg-buttons {
    padding-right: 0px;
    button {
      padding: 5px 20px;
      margin-left: 5px;
    }
  }
  .work-us-title {
    margin-top: 16px;
    p {
      font-size: 26px;
    }
  }
  .work-us-info {
    padding-top: 16px;
    margin-bottom: 20px;
  }
  .implementation-block {
    height: 460px;
    .implementation-circle {
      margin-right: -90px;
      width: 450px;
      height: 450px;
      p {
        font-size: 16px;
        padding: 97px 101px;
      }
    }
  }
  .gallery-block-title {
    margin-top: 16px;
    p {
      font-size: 26px;
    }
  }
  .grapes {
    margin-bottom: 35px;
    margin-top: 20px;
    .img-wrap {
      .img-title {
        height: 46px;
        bottom: 46px;
      }
    }
  }
  .show-all-button {
    .show-all {
    margin-bottom: 30px;
    padding: 5px 26px;
    font-size: 18px;
    }
  }
  footer {
    padding: 5px 20px 5px;
    .footer-text {
      //display: none;
    }
  }
  .contacts {
    img {
      width: 40px;
    }
    p, a {
      font-size: 16px;
    }
  }
  .phone-st {
    padding: 0 58px;
  }
  .phone-mob {
    padding: 0 58px;
  }
  .e-mail {
    padding: 0 190px;
  }
  .navbar-footer {
    ul {
      margin-top: 14px;
      margin-bottom: 10px;
      li {
        margin: 6px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
 .navbar-header {
   display: none;
 }
  #reg-buttons {
    display: none;
  }
  .register-box .cart {
    float: right;
  }
  #sliding-menu {
    //margin-left: 1px;
    display: block;
  }
}

@media all and (max-width: 767px) {

}


@media all and (max-width: 600px) {

}

@media all and (max-width: 450px) {

}

@media all and (max-width: 320px) {

}