header {
  height: 590px;
  background-image: url(images/header-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -169px;
  position: relative;
  overflow: hidden;
  &:after {
    padding-top: 6%;
    bottom: -4px;
    width: 100%;
    max-height: 68px;
    position: absolute;
    content: '';
    background-image: url(images/figure1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .page_title {
    p {
      font-family: $OSSemibold;
      font-size: 50px;
      color: $white;
      text-align: center;
      margin-top: 44px;
    }
  }

  .cart_count{
    background-color: #cb4d0f;
    color: #fff;
    display: block;
    float: right;
    padding: 0 5px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

#header-news {
  max-height: 214px;
  background-image: url(images/news-header-bg.png);
  overflow: visible;
  background-position-y: 0;
}